@import "tailwindcss";

@layer utilities {
  .custom-scrollbar {
    @apply [&::-webkit-scrollbar]:w-2 
           [&::-webkit-scrollbar-track]:bg-transparent 
           [&::-webkit-scrollbar-thumb]:bg-purple-500/50 
           [&::-webkit-scrollbar-thumb]:rounded-full 
           hover:[&::-webkit-scrollbar-thumb]:bg-purple-500;
  }

  .text-truncate {
    @apply overflow-ellipsis overflow-hidden whitespace-nowrap;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
